<div class="profiles-bg">
  <div class="profiles-overlay py-5">
    <h1 class="slogan text-uppercase mt-5 text-center">Visit Profiles</h1>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body">
              <img src="../../../../assets/img/home/prof1.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">Shally White</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body ">
              <img src="../../../../assets/img/home/prof2.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">David Sin</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body ">
              <img src="../../../../assets/img/home/prof3.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">Kristina</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body ">
              <img src="../../../../assets/img/home/prof4.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">Dasy</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body ">
              <img src="../../../../assets/img/home/prof5.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">Ashlay</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card card-bg mt-5">
            <div class="card-body ">
              <img src="../../../../assets/img/home/prof6.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
              <h3 class="sub-slogan text-primary">Estina</h3>
              <h5 class="text-muted">Age 25, New York</h5>
              <span>
                <div class="d-inline text-center">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                </div>
              </span>
              <h4 class="d-inline px-3 text-primary">View profile</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>