<div class="body-container">
    <!-- SHOWCASE SECTION -->
    <section id="showcase" class="bg-parralax">
        <div class="overlay">
            <div class="slogan-container">
                <h1 class="text-uppercase h1-general slogan ">Make your date to
                    <br>your soul mate</h1>
                <h3 class="text-uppercase h3-general sub-slogan text-primary">From 10,0000+
                    <br>lonely hearts.</h3>
                <div class="py-5 text-center">
                    <span>
                        <div class="primary-box d-inline pt-4">
                            <i class="fa fa-arrow-right text-primary fa-right-arrow" (click)='login()'></i>
                        </div>
                    </span>
                    <h4 class="d-inline px-3 right-arrow-button">Join Us</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- LOVE STORIES SECTION -->
    <section id="stories" class="bg-parralax bg-light">
        <div class="overlay">
            <app-love-story></app-love-story>
        </div>
    </section>
    <!-- PROFILES SECTION -->
    <section id="profiles">
        <app-profile-list></app-profile-list>
    </section>

</div>
