@import '~scss/styles';


//-----------------------------------------------//
//-------------------Showcase--------------------//
//-----------------------------------------------//
#showcase {
    background-image: url('../../../assets/img/home/home1.jpg');
    background-size: cover;
    height: 100vh;
    .slogan-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

//-----------------------------------------------//
//-------------------Love Story------------------//
//-----------------------------------------------//
#stories {
    // background-image: #fff;
    background-size: cover; //height: 65rem;
}




//-----------------------------------------------//
//-------------------Responsive------------------//
//-----------------------------------------------//
