<div class="body-container">
  <!-- Slogan -->
  <div class="diagonal-background bg-parralax">
    <div class="diagonal-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center ">
            <div class="vertical-center">
              <div class="row">
                <div class="col align-self-center">
                  <h1 class="text-uppercase slogan">choose your
                    <br>soul mate</h1>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  <h2 class="text-primary sub-slogan">From 10,0000+
                    <br>lonely hearts.</h2>
                </div>
              </div>

              <div class="row mt-5 text-center">
                <div class="col">
                  <span>
                    <div class="primary-box d-inline text-center">
                      <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                    </div>
                  </span>
                  <h4 class="d-inline px-3">Join Us</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="over-lay">
              </div> -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100" />
      </svg>
    </div>
  </div>

  <!-- Stories/Gallary -->
  <div class="diagonal-background bg-parralax" style="background-image: linear-gradient(rgba(163, 103, 14, 0), rgba(163, 103, 14, 0.1));">
    <div class="diagonal-body mt-5">
      <div class="container py-5">
        <div class="row py-5">
          <div class="col-md-6 col-sm-6 align-self-center">
            <div class="border-primary">
              <h1 class="text-uppercase slogan px-3" style="margin-top:0.5rem;">Love Stories</h1>
              <p class="lead p-2 text-muted">I was flying with C-130 cargo planes for several months, moving cargo all over the world. I would be gone for
                two to three weeks, home one day, then gone again for several weeks. Upon returning home late one night,
                I knocked on our front door. “Who is it?” My wife called out. “Pat,” I answered. “Pat who?” she snarled.
                I got her point and applied for a desk job the next day.</p>
              <h5 class="text-muted py-2 text-right mr-3">by Pat Ferry, Mesa, Arizona</h5>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 align-self-center img-background mt-2 " style=" background-image: url('../../../assets/img/home/home2.jpg');">

          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <span>
              <div class="primary-box d-inline text-center">
                <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
              </div>
            </span>
            <h4 class="d-inline px-3">Read More Stories</h4>
          </div>
          <div class="col-sm-6 col-md-6 gall-row-1">
            <div class="d-flex flex-col">
              <img src="../../../assets/img/home/home3.jpg" alt="" class="img-fluid gallary-img-background">
              <img src="../../../assets/img/home/home4.jpg" alt="" class="img-fluid gallary-img-background">
              <img src="../../../assets/img/home/home5.jpg" alt="" class="img-fluid gallary-img-background">
            </div>
          </div>
        </div>
      </div>

      <div class="row gall-row-2">
        <div class="col-sm-8 col-md-8 view-position">
          <div class="d-flex flex-col">
            <img src="../../../assets/img/home/home6.jpg" alt="" class="img-fluid gallary-img-background">
            <img src="../../../assets/img/home/home7.jpg" alt="" class="img-fluid gallary-img-background">
            <img src="../../../assets/img/home/home8.jpg" alt="" class="img-fluid gallary-img-background">
          </div>
        </div>
      </div>


      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100" />
      </svg>

      <!-- Profiles -->
      <div class="profiles-bg ">
        <div class="profiles-overlay py-5">
          <h1 class="slogan text-uppercase mt-5 text-center">Visit Profiles</h1>
          <div class="container">
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof1.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">Shally White</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof2.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">David Sin</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof3.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">Kristina</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof4.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">Dasy</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof5.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">Ashlay</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <div class="card card-bg mt-5">
                  <div class="card-body ">
                    <img src="../../../assets/img/home/prof6.jpg" alt="" class="img-fluid rounded-circle w-60 mb-5">
                    <h3 class="sub-slogan text-primary">Estina</h3>
                    <h5 class="text-muted">Age 25, New York</h5>
                    <div class="">
                      <span>
                        <div class="d-inline text-center">
                          <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
                        </div>
                      </span>
                      <h4 class="d-inline px-3 text-primary">View profile</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>





</div>