<div class="limiter">
  <div class="container-login100">
    <div class="overlay">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form class="login100-form validate-form" [formGroup]='signupForm' (ngSubmit)="register()">
              <!-- Header-->
              <div class="text-center p-t-55 p-b-30 my-5">
                <span class="login100-form-title text-uppercase">
                  Sign Up
                </span>
              </div>

              <div class="wrap-input100 validate-input m-b-16 my-3" data-validate="Please enter email: ex@abc.xyz">
                <input class="input100" type="text" name="email" placeholder="Email" formControlName='email'>
                <span class="focus-input100"></span>
              </div>

              <div class="wrap-input100 validate-input m-b-20" data-validate = "Please enter password">
                <span class="btn-show-pass">
                  <i class="fa fa fa-eye"></i>
                </span>
                <input class="input100" type="password" name="pass" placeholder="Password" formControlName='password'>
                <span class="focus-input100"></span>
              </div>


              <div class="wrap-input100 validate-input my-3" data-validate = "Confirm password">
                  <span class="btn-show-pass">
                    <i class="fa fa fa-eye"></i>
                  </span>
                  <input class="input100" type="password" name="confpass" placeholder="Confirm Password" formControlName='confpass'>
                  <span class="focus-input100"></span>
                </div>

              <div class="container-login100-form-btn mt-4">
                <button class="login100-form-btn btn-block" type="Submit">
                  Signing Up
                </button>
              </div>
            </form>
          </div>
    </div>
  </div>
</div>
