//-------------------------------------------------------//
//-------------------- Font Family ----------------------//
//-------------------------------------------------------//
$font-Raleway-sans-serif: "Raleway", sans-serif;
$font-stylish-header: "Great Vibes", cursive;
$font-Julius: 'Julius Sans One', sans-serif;

//-------------------------------------------------------//
//------------------------ Color ------------------------//
//-------------------------------------------------------//
$primary-color: #FF5057;
$header-text-color: #fff;

//-------------------------------------------------------//
//-------------------- Font Size ------------------------//
//-------------------------------------------------------//
$stylist-header-font-size: 3rem;
$navbar-header-font-size: 1.4rem;
$fa-right-arrow-font-size: 2rem;
$general-button-font-size: 2rem;

