<div class="container py-5">
  <!-- First Row -->
  <div class="row py-5">
      <div class="col-md-6 align-self-center">
          <div>
              <h1 class="text-uppercase slogan px-3" style="margin-top:0.5rem;">Love Stories</h1>
              <p class="lead p-2 text-muted">I was flying with C-130 cargo planes for several months, moving cargo all over the world. I would
                  be gone for two to three weeks, home one day, then gone again for several weeks. Upon returning
                  home late one night, I knocked on our front door. “Who is it?” My wife called out. “Pat,”
                  I answered. “Pat who?” she snarled. I got her point and applied for a desk job the next day.</p>
              <h5 class="text-muted py-2 text-right mr-3">by Pat Ferry, Mesa, Arizona</h5>
          </div>
      </div>
      <div class="col-md-6 align-self-center">
          <img src="../../../../assets/img/home/home2.jpg" alt="" class="img-responsive img-fluid">
      </div>
  </div>
  <!-- Second Row -->
  <div class="row">
      <div class="col-md-6 align-self-center py-5">
          <span>
              <div class="primary-box d-inline text-center pt-4">
                  <i class="fa fa-arrow-right text-primary fa-right-arrow"></i>
              </div>
          </span>
          <h4 class="d-inline px-3 right-arrow-button">Read More Stories</h4>
      </div>
      <div class="col-md-3">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home3.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Rebeca our Angel </h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>

      </div>
      <div class="col-md-3">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home4.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Edina's Love</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 align-self-center">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home5.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Jhon's Smile</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home6.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Hyda's Love</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 align-self-center">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home7.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Michel's Jokes</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>

  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home8.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Peter's Stories</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="hovereffect">
              <img src="../../../../assets/img/home/home9.jpg" alt="" class="img-responsive img-fluid gallary-img-background">
              <div class="overlay">
                 <h2>Simons's Attitude</h2>
                 <a class="info" href="#">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>